/* Color Scheme */

:root {
    --brand: #4bee8f;
	--accent: #74b6b5;
	--light: #b5fdaf;
	--dark: #676087;
	--greyscale: #f2f2f2;
}

.brand { color: var(--brand); }
.accent { color: var(--accent); }
.light { color: var(--light); }
.dark { color: var(--dark); }
.greyscale { color: var(--greyscale); }




/* Animations */

@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }



/* Tags */

html {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	word-wrap: break-word;
	text-align: center;
	color: var(--greyscale);
}

a {
	color: var(--brand);
	cursor: pointer;
	text-decoration: none;
}

img, iframe {
	display: block;
	margin: 0.5em auto;
	max-width: 100%;
	border-radius: 0.5em;
}

input {
	padding: 0.25em;
	text-align: center;
	border: 0.25em solid var(--dark);
}

button {
	background-color: var(--greyscale);
	color: var(--dark);
	border: 0.25em solid var(--dark);
	border-radius: 1em;
	padding: 0.5em 1em;
	margin: 0.5em;
	outline: none;
	transition: transform .2s;
}

button:hover {
	color: var(--accent);
	border: 0.25em solid var(--accent);
	transform: scale(1.1);
}

