/* Color Scheme */

:root {
	--brand: #4bee8f;
	--accent: #74b6b5;
	--light: #b5fdaf;
	--dark: #676087;
	--greyscale: #f2f2f2;
}

/* Alt Color Scheme
:root {
	--brand: #EEF66C;
	--accent: #FDB813;
	--light: #62C2CC;
	--dark: #F68B1F;
	--greyscale: #f2f2f2;
}
*/

.brand { color: var(--brand); }
.accent { color: var(--accent); }
.light { color: var(--light); }
.dark { color: var(--dark); }
.greyscale { color: var(--greyscale); }




/* Animations */

@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }



/* Tags */

html {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	word-wrap: break-word;
	text-align: center;
	color: var(--greyscale);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera */
}

/* Enables fixed background on mobile
Based on Vincent's answer on Stack Overflow
https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile
*/
body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background-color: black;
	background: url(iceberg.png) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

a {
	color: var(--brand);
	cursor: pointer;
	text-decoration: none;
}

img, iframe {
	display: block;
	margin: 0.5em auto;
	max-width: 100%;
	border-radius: 0.5em;
}

input {
	padding: 0.25em;
	text-align: center;
	border: 0.25em solid var(--dark);
}

button {
	background-color: var(--greyscale);
	color: var(--dark);
	border: 0.25em solid var(--dark);
	border-radius: 1em;
	padding: 0.5em 1em;
	margin: 0.5em;
	outline: none;
	transition: transform .2s;
}

button:hover {
	color: var(--accent);
	border: 0.25em solid var(--accent);
	transform: scale(1.1);
}



/* Header */

header {
	width: 95%;
	margin: 0.25em auto;
}

#logo, #site-title {
	display: inline-block;
}

#logo {
	height: 1.5em;
    	padding: 0.125em;
    	background-color: var(--dark);
    	border: 0.25em solid var(--accent);
	border-radius: 0.5em;
	margin: 0;
}

#site-title {
	margin: 0 0 0.5em 0;
}



/* Content */

.loader {
	border: 0.5em dotted var(--greyscale);
	border-top: 0.5em dotted var(--brand);
	border-radius: 50%;
	width: 2em;
	height: 2em;
	margin: 0.5em auto;
	animation: spin 2s linear infinite;
}

.hidden, .content-container {
	display: none;
}

.inline {
	display: inline-block;
}

.info {
	font-size: 0.75em;
	cursor: pointer;
}

.right {
	text-align: right;
}

.content-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 50%);
	grid-auto-rows: 1fr;
	justify-content: center;
}

.card {
	background-color: rgba(103, 96, 135, 0.75);
	border: 0.25em solid var(--accent);
	border-radius: 0.5em;
	padding: 0.5em;
	display: inline-block;
	margin: 0.25em;
}

.card:hover {
	background-color: rgb(116, 182, 181, 0.5);
	cursor: pointer;
}

.goal:hover, #goal-prompt:hover {
	cursor: pointer;
}

#title, #date {
	margin: 0;
}

#content {
	padding: 1em 0.5em;
}



/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
	.content-grid {
		grid-template-columns: repeat(auto-fit, 33%);
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.content-grid {
		grid-template-columns: repeat(auto-fit, 25%);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.content-grid {
		grid-template-columns: repeat(auto-fit, 20%);
	}
}
